
#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
  }
  
  #trisixty-container {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	touch-action: none;
	pointer-events: all;
	cursor: grab;
}

#trisixty-render-canvas {
	width: 100%;
	height: 100%;
	touch-action: none;
	outline: none !important;
	border: none !important;
	display: block;
	padding: 0;
	margin: 0;
	overflow: unset;
	background-color: #000;
}

/* #trisixty-render-canvas:hover{
    cursor: grab;
}  */

/* #trisixty-render-canvas:active{
    cursor: grabbing;
}  */
